.ShoppingItem__Item {
  border: 1px black solid;
  width: 15rem;
  height: 17rem;
  background-color: var(--color-yellow);
  border: 10px solid var(--color-blue);
  text-align: center;
  align-content: center;
}

.ShoppingItem__image {
  width: 8rem;
  image-rendering: pixelated;
}

.ShoppingItem__list {
  list-style: none;
  font-family: pokeInGame;
  word-spacing: 10px;
  line-height: 1.5em;
}

.ShoppingItem__button {
  font-weight: bold;
  box-sizing: border-box;
  background: #92cd41;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 10px;
  padding: 15px;
  font-family: "pokeInGame";
  text-decoration: none;
  box-shadow: inset -4px -4px 0px 0px #4aa52e;
  top: 15px;
}
