:root {
  --color-blue: #0075be;
  --color-yellow: #ffcc00;
  --color-red: #fb1b1b;
  --color-grey: #dfdfdf;
  --color-green: #4dad5b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: grid;
  grid-template-rows: 4rem auto 3rem;
  height: 100vh;
}

main {
  overflow-y: scroll;
  background-color: var(--color-grey);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
  font-family: pokeHollow;
  src: url("./assets/fonts/Pokemon_Hollow.ttf");
}

@font-face {
  font-family: pokeSolid;
  src: url("./assets/fonts/Pokemon_Solid.ttf");
}

@font-face {
  font-family: pokeInGame;
  src: url("./assets/fonts/Pokemon_InGame.ttf");
}
