.ItemList__ItemList {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-items: center;
}

.ItemList__button {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  font-family: "pokeInGame";
  text-decoration: none;
  color: white;
  background: var(--color-yellow);
  box-shadow: inset -4px -4px 0px 0px #e59400;
  width: 50%;
}
